# ignore everything
*
# but listed below

!/.gitignore

# some top level folders
!/bin/
!/.config/

# environment settings
!/.env.default
!/.path
!/.profile

# sublime 2 settings
!/.config/sublime-text-2/
!/.config/sublime-text-2/Packages/
!/.config/sublime-text-2/Packages/User/
!/.config/sublime-text-2/Packages/User/Default (Linux).sublime-keymap
!/.config/sublime-text-2/Packages/User/Preferences.sublime-settings

# sublime 3 settings
!/.config/sublime-text-3/
!/.config/sublime-text-3/Packages/
!/.config/sublime-text-3/Packages/User/
!/.config/sublime-text-3/Packages/User/Default (Linux).sublime-keymap
!/.config/sublime-text-3/Packages/User/Preferences.sublime-settings

# intellij idea settings
!/.IdeaIC13/
!/.IdeaIC13/config/
!/.IdeaIC13/config/options/
!/.IdeaIC13/config/options/editor.xml
!/.IdeaIC13/config/options/keymap.xml
!/.IdeaIC13/config/keymaps/
!/.IdeaIC13/config/keymaps/my.xml

# git settings
!/.config/git/
!/.config/git/config

# awesome settings
!/.config/awesome/
!/.config/awesome/rc.lua

# sbt
!/bin/sbt
!/bin/sbt-launch.jar